tensorflow-probability
gast
# Version requirement to match Tune
torch>=1.6.0
# Version requirement to match Tune
torchvision==0.8.1
smart_open==4.0.1

# For testing in MuJoCo-like envs (in PyBullet).
pybullet
# For tests on PettingZoo's multi-agent envs.
pettingzoo>=1.4.0
# For tests on RecSim and Kaggle envs.
recsim
kaggle_environments

# For MAML on PyTorch.
higher

# Unity3D testing
mlagents
mlagents_envs

#Moab contrib
pyrr==0.10.3
